<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %logger{80}:%line - %msg%n" />
    <property name="log_charset" value="UTF-8" />
    
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log_pattern}</pattern>
            <charset>${log_charset}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>
    
    <logger name="com.github.yangwk.jobscheduler" additivity="false" level="INFO">
        <appender-ref ref="stdout"/>
    </logger>
     
</configuration>  

